<div class="container">
    <div class="safety">
<h2>Bezpieczeństwo:</h2>
<p>Poniżej zamieściliśmy link do oficjalnej strony Ministerstwa Spraw Zagranicznych, która   zawiera informacje dla podróżujących przygotowane przez polskie placówki dyplomatyczne we współpracy z MSZ. Dotyczą tak ważnych kwestii jak przygotowanie do podróży, aktualny stan epidemii w poszczególnych krajach, szczepienia obowiązkowe i fakultatywne, a także zalecenia związane z środkami ostrożności. </p>
<button class="btn"><a href="https://www.gov.pl/web/dyplomacja/informacje-dla-podrozujacych">Przejdź na stronę Ministerstwa Spraw Zagranicznych</a></button>

<p>Dane zawarte na poniższej stronie stanowią jedynie rekomendacje, mające na celu ułatwienie podroży i zwiększenie jej komfortu! </p>
</div>
</div>