<div class="container">
  <h2>Nasz filmowe podróże:</h2>

  <p>
    Dla podróżujących przygotowaliśmy unikalną możliwość zapoznania się podczas lotu ze skarbami X Muzy – Nasza bogata
    oferta seansów filmowych dostępnych podczas lotu zawiera propozycje z całego świata, przekrój różnorodnych gatunków,
    ze szczególnym naciskiem na kino artystyczne i jest wciąż aktualizowana.

  </p>
  <p>
    Wejdź do świata niezapomnianych filmowych opowieści, które będą towarzyszyć Ci, dopóki nie zaczniesz tworzyć sam/-a
    własnej – na miejscu przylotu!
  </p>
  <h2>Nasz propozycje filmowe: </h2>
  <div class="cinema">

    <a target="_blank" href="https://www.filmweb.pl/film/Ja%C5%9Bniejsza+od+gwiazd-2009-427379"><img
        src="./../../../assets/Img/posters/bright star.jpg" alt="Bright Star Movie poster"></a>
    <a target="_blank" href="https://www.filmweb.pl/film/Horror+Draculi-1958-35022"><img
        src="./../../../assets/Img/posters/dracula poster.jpg" alt="Dracula poster"></a>
    <a href="https://www.filmweb.pl/film/Hero-2002-35798" target="_blank"><img
        src="./../../../assets/Img/posters/hero poster.png" alt="Hero poster"></a>
    <a href="https://www.filmweb.pl/film/Zawr%C3%B3t+g%C5%82owy-1958-1323" target="_blank"><img
        src="./../../../assets/Img/posters/vertigo poster.jpg" alt="Vertigo poster"></a>
  </div>
</div>
