
<div class="container" [class.dark]="darkMode" [class.bigFont]="bigFont" [class.letterSpacing]="letterSpacing"
  [class.lineSpacing]="lineSpacing">
  <div class="wrapper">

    <ul>
      <b>{{ 'footer.travels' | translate}}</b>
      <li routerLink="home">{{ 'footer.home' | translate}}</li>
      <li routerLink="flight">{{ 'footer.flights' | translate}}</li>
    </ul>

    <ul>
      <b>{{ 'footer.clients' | translate}}</b>
      <li routerLink="info">{{ 'footer.aboutUs' | translate }}</li>
      <li routerLink="safety">{{ 'footer.safety' | translate}}</li>
    </ul>

    <ul>
      <b>{{'footer.others' | translate}}</b>
      <li routerLink="cinema">{{'footer.cinema' | translate}}</li>
      <li routerLink="contact">{{ 'footer.contact' | translate}}</li>
    </ul>
  </div>

  <div class="copyright">
    &copy; Copyright Sandra Czołczyńska 2021
  </div>
</div>
