
<div class="container" [class.dark]="darkMode" [class.bigFont]="bigFont" [class.letterSpacing]="letterSpacing"
  [class.lineSpacing]="lineSpacing">
  <div class="wrapper">

    <ul>
      <b>Strona Główna</b>
      <li routerLink="home">Intro</li>
      <li routerLink="flight">Loty</li>
    </ul>

    <ul>
      <b>Dla klientów</b>
      <li routerLink="info">O nas</li>
      <li routerLink="safety">Bezpieczeństwo</li>
    </ul>

    <ul>
      <b>Inne</b>
      <li routerLink="cinema">Filmowe podróże</li>
      <li routerLink="contact">Kontakt</li>
    </ul>
  </div>

  <div class="copyright">
    &copy; Copyright Sandra Czołczyńska 2021
  </div>
</div>
