<div class="weather-container">
  <div class="weather">
    <h2>{{whereFrom}}</h2>
    <p>Temperatura: <span id="temp"></span></p>
    <p>Wilgotność powietrza: <span id="humidity"></span></p>
    <p>Ciśnienie: <span id="pressure"></span></p>
    <p>Zachmurzenie: <span id="clouds"></span></p>
  </div>
  <div class="weather">
    <h2>{{whereTo}}</h2>
    <p>Temperatura: <span id="temp2"></span></p>
    <p>Wilgotność powietrza: <span id="humidity2"></span></p>
    <p>Ciśnienie: <span id="pressure2"></span></p>
    <p>Zachmurzenie: <span id="clouds2"></span></p>
  </div>
</div>
