.container{
    height: 250px;
}
h1{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4rem;
}
img{
    height: 170px;
    transform: translateY(-60%);
}

.clock{

    position: absolute;
    right: 1vw;
    top: 1vh;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;

}

a {
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: yellow;
}

@media (max-width: 760px) {
    .container{
        min-height: 60vh;
    }
    ul{
        flex-direction: column;
        text-align: center;
        li{
            padding: 10px;
        }
    }
}

@media (max-width: 1120px){
    img{
        display: none;
    }
}
