.main{

  background: url("./../../../assets/Img/passport-2714675_1280.jpg") center no-repeat fixed;
    background-size: cover;
    padding: 20vh 0;
    font-size: 1.2rem;
  }
  
  .intro{
    top: 5%;
    left: 5%;
    position: absolute;
    width: 90%;
    height: 90%;
    background-image: url(./../../../assets/Img/Greece.jpg);
    background-size: cover;
    border: solid rgb(255, 15, 175) 5px;
    border-radius: 50%;
    h1{
      position: absolute;
      color: rgb(255, 15, 175);
      left: 50%;
      transform: translateX(-50%);
    }
    .btn {
      position: absolute;
      width:200px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  .search{
  
    margin: auto;
    background-color:rgba(170, 170, 187, 0.514);
    max-width: 400px;
    color: white;
    border-radius: 25px;
    padding: 40px;

  }
iframe{
  width: 100%;
}

  .inputs{
    display: flex;
  }
  
  li{
    list-style-type: none;
    height: 30px;
  }
  
  button{
    width: 65%
  }

  .dark{
    background-color: black;
    color: yellow;
  }