<div class="wrapper" [class.dark]="darkModeTemp" [class.bigFont]="bigFontTemp" [class.letterSpacing]="letterSpacingTemp" [class.lineSpacing] = "lineSpacingTemp">
<h2>{{'wcag.accesability' | translate}}
</h2>
<img src="./../../../assets/Img/dostepnosc.png" alt="Ikony informujace o dostępności">
<h3>{{ 'wcag.options' | translate}}:</h3>
    <ul>
        <li>
            <label for="contrast">{{ 'wcag.contrast' | translate}} </label>
            <input type="radio" name="" id="contrast" (click) = "darkMode()" >
        </li>
        <li>
            <label for="bigFont">{{ 'wcag.bigFont' | translate}} </label>
            <input type="radio" id="bigFont" (click) = "bigFont()">
        </li>
        <li>
            <label for="letterSpacing">{{ 'wcag.letterSpacing' | translate}} </label>
            <input type="radio" name="" id="letterSpacing" (click) = "letterSpacing()">
        </li>
        <li>
            <label for="lineSpacing">{{ 'wcag.lineSpacing' | translate}} </label>
            <input type="radio" name="" id="lineSpacing" (click) = "lineSpacing()">
        </li>
        
    </ul>

    <h2>Co warto wiedzieć o dostępności:</h2>
    <p>Informacje na temat dostępności cyfrowej: <a href="https://www.gov.pl/web/dostepnosc-cyfrowa">Stona Ministerstwa cyfryzacji</a> </p>
    <p>Informacje na temat dostępności WCAG: <a href="https://www.w3.org/Translations/WCAG21-pl/">Polskie tłumaczenie WCAG</a> </p>
